<!-- About Me Section -->
<section id="about_me" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Me</h2>
                <h3 class="section-subheading text-muted">Writer, Actor, Voice-Over Artist.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>As a professional writer, editor, voice over artist, and actor, what drives me is communicating ideas through story. As artists we are living in exciting and challenging times. Overused traditional story structures and tropes are being broken and upcoming creatives are finding new ground in the ways we communicate story. The goal, I believe, is staying relevant with these new trends; and at the same time, effectively communicating universal themes of our human journey to an ever changing, multiculturally diverse, audience.<br><br>
                    My formal education is rooted in the Humanities, History, Sociology, and Philosophy, with a special focus on English Literature & Theatre Studies from The University of King’s College & Dalhousie.<br><br>
                    I hold a certificate in Screenwriting from The Nova Scotia School of Art and Design, as well as, studied film acting at Vancouver Film School.
                </p>
                <br><br>
                <img src="/img/Writing%20and%20Editing.jfif" alt="Writing and Editing" width="80%">
            </div>
        </div>
    </div>
</section>