<!-- About Me Section -->
<section id="gallery" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Gallery</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="/img/JG Mic.jpg" alt="Writer, Actor & Voice Artist" width="80%">
            </div>
        </div>
        <div class="row">
            {% include carousel.html %}
        </div>
    </div>
</section>