<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
<!--                    <h3 class="section-subheading text-muted">.</h3>-->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-i-cursor fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Writing & Editing</h4>
                    <h5 class="section-subheading text-muted">Commercial</h5>
                    <p class="text-muted">Website Content, Copywriting and Editing. Incl: Fiction Books, articles and publications</p>
                    <h5 class="section-subheading text-muted">Creative</h5>
                    <p class="text-muted">Screenplay and Non Fiction Book Editing</p>
                    <p>Rates are competitive and vary: <a href="/#contact">Call for an estimate</a></p>
                </div>
                                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-video fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Acting</h4>
                    <p class="text-muted">Union Theatrical or Commercial bookings<br>Find me on <a href="{{ site.imdb }}">IMDB</a>
                      <br>
                      Read my <a href="{{ site.resume }}">Resume</a>
                      <p>
                        <p>Please Contact:</p>
                        <p class="text-muted">Merritt Talent Management<br>
                        Toronto, Ontario<br>
                            <em>647-880-6069</em><br></p>
                    <strong>Agent:</strong><p class="text-muted">Scott Merritt</p>
                        <a href="mailto:scott@merrittartistmanagment.com">scott@merrittartistmanagment.com</a>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-microphone-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Voice-Overs</h4>
                    <h5 class="section-subheading text-muted">Demos</h5>
                    <p class="text-muted">Commercial, Characters and Accents:</p>
                    <audio controls>
                      <source src="/sounds/John Ghiz VO Demo Commercial Characters and Accents (edit1).mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                      </audio>
                      <p class="text-muted">Audiobook Sample:<p>
                      <audio controls>
                        <source src="/sounds/Audio from John Ghiz.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                        </audio>
                      <p>Industry Standard Pricing. <a href="/#contact">Call for more details</a></p>
                    </div>
                </div>
            </div>
    </section>
