<!-- Voice Over Demos -->
    <section class="bg-light-gray" id="voice_overs">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Voice Over Demos</h2>
              </div>
          </div>
          <div class="row text-center">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                  <h4 class="service-heading">Commercials and Narration</h4>
                  <audio controls>
                    <source src="/sounds/John-Ghiz-VO-Demo-Commercial.mp3" type="audio/mpeg">
                      Your browser does not support the audio element.
                  </audio>
              </div>
          </div>
          <div class="row text-center">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                  <h4 class="service-heading">Audiobook</h4>
                  <audio controls>
                    <source src="/sounds/Audiobook sample - John Ghiz.mp3" type="audio/mpeg">
                      Your browser does not support the audio element.
                  </audio>
              </div>
          </div>
          <div class="row text-center">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                  <h4 class="service-heading">Characters and Accents</h4>
                  <audio controls>
                    <source src="/sounds/John-Ghiz-VO-Demo-Characters-and-Accents.mp3" type="audio/mpeg">
                      Your browser does not support the audio element.
                    </audio>
              </div>
          </div>
          <div class="row text-center">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                  <h4 class="service-heading">Jimmy Radio</h4>
                  <audio controls>
                    <source src="/sounds/Jimmy Radio.mp3" type="audio/mpeg">
                      Your browser does not support the audio element.
                    </audio>
              </div>
          </div>
      </div>
    </section>
